@charset "utf-8";

/********** Global **********/
/*
 *常用背景色： #0f1c30 #0b0f34 (6,64,102) (29,45,57) (7,33,58) (8,13,28) (15,43,36)
 */
html, body {
	width:100%;
	height:100%;
	min-height:635px;
	font-family:"microsoft yahei", arial, sans-serif;
	background-color:#152a59;
	background-repeat:no-repeat;
	background-position:center;
	background-size:100% 100%;
	overflow-x:hidden;
	overflow-y:auto;
}
body.bg {
	background-image:url("../images/background.png");
}

.header {
	margin:12px auto;
	width:100%;
	height:55px;
	max-width:1920px;
	background:url("../images/header-left.png") left center no-repeat, url("../images/header-right.png") right center no-repeat;
	background-size:43% 100%, 43% 100%;
	overflow:hidden;
}
.header h3 {
	margin:0;
	padding:0;
	line-height:60px;
	text-align:center;
	font-size:24px;
	color:#5dc2fe;
}
@media (max-width: 1199px) {
	.header {
		background:url("../images/header-left.png") left bottom no-repeat, url("../images/header-right.png") right bottom no-repeat;
		background-size:100%, 100%;
	}
	.header h3 {line-height:48px;}
}

.pin-top-header {
	position:fixed;
	z-index: 100;
	top:0px;
}
.pin-top-nav {
	position:relative;
	z-index: 100;
	top:70px;
}

.navbar-nav {
	width:90%;
	height:40px;
	margin:0 auto;
	background:url("../images/panel.png") center no-repeat;
	background-size: 100% 100%;
	font-size:20px;
	float: none;
  	text-align:center;
}
.navbar-nav li :hover{
	background-color: #00BFFF; 
}

.wrapper {
	position:absolute;
	top:126px;
	bottom:0;
	left:0;
	right:0;
	min-height:555px;
}

.container-fluid {
	padding: 0 6%;

	height:100%;
	min-height:100%;
	color:white;
}

.container-tail {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.row {
	margin-left:-0px;
	margin-right:-0px;
}

.row>div {
	padding-left:7px;
	padding-right:8px;
}

[class*="col-"]{
    padding-top:10px;
    padding-bottom:10px;
}

.content {
	font-size:18px;
	color:white;
}

.xpanel-wrapper {
	padding-bottom:15px;
	box-sizing:border-box;
}

.xpanel {
	padding:15px;
	height:46%;
	min-height:340px;
	background:url("../images/panel.png") center no-repeat;
	background-color:rgba(21,42,89,0.5);
	background-size:100% 100%;
	box-sizing:border-box;
	border-width: 10px;
}

.xpanel-head {
	padding-top: 3px;
	color:white;
}

.xpanel-tail {
	padding-top: 6px;
	text-align: center;
}

.xpanel-body {
	height: 220px;
	padding-left: 5%;
	padding-right: 5%;
}

.xpanel-input {
	background-color:rgba(21,42,89,0.5);
	border-color: #0ff;
	width:60%%; 
	color:white;
	margin-top: 3px;
}

.spanel {
	padding:15px;
	background-color:rgba(169,169,169,0.5);
	background-size:100% 100%;
	box-sizing:border-box;
	border-width: 10px;
}

.vuln-panel {
	width: 400px;
	height: 400px;
}

.assets-panel {
	width: 800px;
	height: 400px;
}

/* tool */
.scroll-div{
	overflow:scroll;
}
.fill-h {height:100%;min-height:100%;}
.no-margin {margin:0 !important;}
.no-padding {padding:0 !important;}
.no-bg {background:none !important;}
.no-border {border:0 !important;}

/* scrollbar */
::-webkit-scrollbar {width:0;height:0;}
::-webkit-scrollbar-track {background-color:transparent;}
::-webkit-scrollbar-thumb {border-radius:5px;background-color:rgba(0, 0, 0, 0.3);}

